:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botão-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: "inter";
    --botão-azul-efeito: #3890fc;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

*{
    margin:0;
    padding:0;
}

.principal{
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display:grid;
    grid-template-columns: 50% 50%;
}

.container__botão{
    background-color: var(--botão-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botão_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__caixa{
    margin: 0 6em;
}

.secundario__imagem{
    width: 80%;
}

.secundario{
    align-items: center;
    margin: 0 10em;
}

.descrição__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descrição__texto{
    color: var(--cinza-secundario);
}

.secundario__botão{
    display: inline-block;
    margin-top:1em;
}

.container__descrição{
    padding: 2em;
}

.secundario__imagem3{
    margin-left: 3em;
    align-items: center;
    width: 80%;
}

.dispositivos__lista{
    display:flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos{
    text-align: center;
}

.dispositivos__titulo{
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item{
    font-size: 32px;
    color: var(--branco-principal);
}

.rodapé{
    text-align: center;;
}

.rodapé

.rodapé__lista{
    display: flex;
    justify-content: center;
}

.lista__link{
    padding: 2.5em 0 2.5em 2em;
    list-style-type:none;
}

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
}

.rodapé__texto{
    font-size:14px;
    padding-bottom:2em;
    color: var(--cinza-secundario)
}

.lista__link a:hover{
    color: var(--botão-azul);
}

.lista__link a:active{
    color: Green;
}

.container__botão:hover{
    background-color: var(--botão-azul-efeito);
    color: var(--cor-de-fundo);
}